{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="container">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        </form>
    </div>

{% endblock %}