{% extends 'base.html' %}
{% block head %}
<title>PNHS</title>

{% endblock %}
{% block body %}
<div class="container-fluid">
</div>
    <div class="mx-auto" style="width: 200px;">
    <form method="post">
  <div class="form-group">
      {% csrf_token %}
      {{ form.as_p }}
  </div>
<div class="mx-auto" style="width: 200px;">
   <button type="submit" class="btn btn-primary">Submit</button>
</div>
<div class="mx-auto" style="width: 200px;">
    <a href="/account/reset-password/">Forgot password</a>
</div>

 </form>
 </form>
    <div class="col col-lg-2">
    </div>
</div>
{% endblock %}