{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <br>
    <div class="container">
        <h1>You are Logout</h1>
        <p> Thank you for using our website</p>
    </div>

{% endblock %}