{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Profile</h1>
        <p> First Name: {{ user.first_name }}</p>
        <p> Email: {{ user.email }}</p>
    </div>

{% endblock %}