{% extends 'base.html' %}

{% block body %}
    <div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    </div>
{% endblock %}