<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        {% block head %}
        <title>Base</title>
        {% endblock %}
</head>
<body>
<br>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PNHS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/account/home/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/profile/">Profile</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/account/change-password/">Change Password</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/account/reset-password/">Reset Password</a>
        </li>

    </ul>
      <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/account/logout/">Logout</a>
        </li>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="/account/login/">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/account/register/">register</a>
      </li>
      </ul>
      {% endif %}
    </div>
    </nav>
    </div>
    {% block body %}
        <h1>base</h1>
    {% endblock %}
</body>
</html>